<footer class="np-footer">
  <div class="container">
    <div class="row gx-4 gy-5 py-5">

      <!-- Logo + tagline -->
      <div class="col-12 col-md-6 col-lg-3">
        <a href="https://naviplus.io/" class="d-inline-block mb-3">
          <picture>
            <source srcset="https://pub-b8f5722253704f58a14ff3de9b68927a.r2.dev/static/logo/webp/logo-navi-dark.webp" media="(prefers-color-scheme: dark)">
            <img src="https://pub-b8f5722253704f58a14ff3de9b68927a.r2.dev/static/logo/webp/logo-navi-light.webp" alt="Navi+" height="26">
          </picture>
        </a>
        <p class="np-footer-meta">Build for Shopify<br>Rating 4.7 ★ from many happy clients</p>
      </div>

      <!-- Socials + contact -->
      <div class="col-12 col-md-6 col-lg-3">
        <h6>Socials</h6>
        <p class="np-footer-meta"><a href="mailto:khoipn@naviplus.io">khoipn@naviplus.io</a></p>
        <p class="np-footer-meta">Ecopark, Hung Yen, 100000, VN</p>
        <p class="np-footer-meta">WhatsApp: +84 981911011</p>
        <div class="np-footer-social">
          <a href="https://www.facebook.com/khoipng" target="_blank" title="Facebook">
            <svg width="18" height="18" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.1056 10.4495C19.1056 5.09642 15 0.759277 9.9327 0.759277C4.86539 0.759277 0.759766 5.09642 0.759766 10.4495C0.759766 15.2946 4.08865 19.3191 8.49018 20.0224V13.2627H6.15996V10.4495H8.49018V8.33951C8.49018 5.91696 9.85872 4.54939 11.93 4.54939C12.9657 4.54939 14.0013 4.74476 14.0013 4.74476V7.12823H12.8547C11.7081 7.12823 11.3382 7.87063 11.3382 8.65209V10.4495H13.8904L13.4835 13.2627H11.3382V20.0224C15.7398 19.3191 19.1056 15.2946 19.1056 10.4495Z" fill="#222222"/>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/khoi-pham-443218aa/" target="_blank" title="LinkedIn">
            <svg width="18" height="18" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.56609 15.2704V5.45315H0.948103V15.2704H4.56609ZM2.73764 4.1398C3.90474 4.1398 4.83841 3.31895 4.83841 2.33394C4.83841 1.38176 3.90474 0.59375 2.73764 0.59375C1.60945 0.59375 0.675781 1.38176 0.675781 2.33394C0.675781 3.31895 1.60945 4.1398 2.73764 4.1398ZM18.0654 15.2704H18.1044V9.8857C18.1044 7.259 17.4041 5.22331 13.7472 5.22331C11.9966 5.22331 10.8295 6.04415 10.3237 6.79933H10.2848V5.45315H6.82246V15.2704H10.4404V10.411C10.4404 9.13053 10.7128 7.91568 12.5801 7.91568C14.4475 7.91568 14.4864 9.36036 14.4864 10.5095V15.2704H18.0654Z" fill="#222222"/>
            </svg>
          </a>
        </div>
      </div>

      <!-- Getting Started -->
      <div class="col-12 col-md-6 col-lg-3">
        <h6>Getting Started</h6>
        <ul>
          <li><a href="https://help.naviplus.io/docs/getting-started/" target="_blank">Getting Started</a></li>
          <li><a href="https://help.naviplus.io/docs/getting-started/what-is-navi/" target="_blank">What is Navi+?</a></li>
          <li><a href="https://help.naviplus.io/docs/getting-started/your-first-menu/" target="_blank">Your first menu (5-min)</a></li>
          <li><a href="https://help.naviplus.io/docs/how-to-install-navi/" target="_blank">Install Navi+</a></li>
          <li><a href="https://help.naviplus.io/docs/common-first-questions/" target="_blank">Common first questions</a></li>
        </ul>
      </div>

      <!-- Help & Guides -->
      <div class="col-12 col-md-6 col-lg-3">
        <h6>Help &amp; Guides</h6>
        <ul>
          <li><a href="https://help.naviplus.io/docs/usage/mega-menu-desktop/ideas-use/" target="_blank">Mega Menu Guide</a></li>
          <li><a href="https://help.naviplus.io/docs/usage/tabbar-bottom-navigation/ideas-use/" target="_blank">Tab Bar Guide</a></li>
          <li><a href="https://help.naviplus.io/docs/usage/slide-menu-hamburger-menu/ideas-use/" target="_blank">Hamburger Menu Guide</a></li>
          <li><a href="https://help.naviplus.io/docs/usage/fab-floating-menu-quick-access/ideas-use/" target="_blank">FAB Menu Guide</a></li>
          <li><a href="https://help.naviplus.io/docs/usage/grid-menu/ideas-use/" target="_blank">Grid Menu Guide</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="np-footer-bottom">
    © 2025 Navi+ Group, Inc · <a href="https://naviplus.io/" style="color:inherit;text-decoration:none;">naviplus.io</a>
  </div>
</footer>
