<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
      <a href="https://naviplus.io/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="https://naviplus.io/images/logo.svg">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="https://naviplus.io" class="nav-link px-2">Home</a></li>
        <li><a href="https://tools.naviplus.io" class="nav-link px-2">Tools</a></li>
        <li><a href="https://naviplus.app/demo/index.php?page=live-demo" class="nav-link px-2">Live demo</a></li>
        <li><a href="https://naviplus.io/pricing.php" class="nav-link px-2">Pricing</a></li>
        <li><a href="https://apps.shopify.com/pronavi-navigation-design" class="nav-link px-2">Free install Navi+</a></li>
      </ul>
      
    </div>
  </div>
</header>